.menu_bar_background { /*màu menu bar*/
    -fx-background-color: #5B9893;
}

.table_empty_background {   /*màu phần bảng trống chưa được điền gì*/
    -fx-background-color: #d7d7d7;
}

.table_header_background {  /*màu header table*/
    -fx-background-color: #bae4dd;
}

.table_distance_background {    /*màu các phần phân cách giữa các ô*/
    -fx-background-color: #fff;
}

.table_cell_background {
    -fx-background-color: #e6fffa;
}
.search_bar_background {
    -fx-background-color: transparent;
    -fx-background-color: #ADCAC6;
    -fx-background-radius: 39px;
    -fx-prompt-text-fill: #000;
    -fx-text-fill: #000;
}

.search_bar_background1 {
    -fx-background-color: transparent;
    -fx-background-color: #91d1c1;
    -fx-background-radius: 39px;
    -fx-prompt-text-fill: #fff;
    -fx-text-fill: #fff;
}

.text_data_update_background {
    -fx-background-color: transparent;
    -fx-background-color: #fff;
    -fx-background-radius: 20px;
    -fx-border-width: 1px;
    -fx-border-radius: 20px;
    -fx-border-color: #a1a1a1;
}


.text-area {
    -fx-background-color: transparent;
    -fx-border-width: 1px;
    -fx-border-color: #a1a1a1;
}
.text-area .content {
    -fx-background-color: #fff;
}

.logo_library_background {
    -fx-background-radius: 15px;
    -fx-background-color: #ADCAC6;
}

.logo_user_background {
    -fx-background-radius: 39px;
    -fx-background-color: #fff;
}

.topic_background {
    -fx-background-radius: 0px 30px 30px 0px;
    -fx-background-color: linear-gradient(to right,#5B9893,#0bb185);
}

.change_mode_local {
    -fx-background-color: #73e794;
    -fx-text-fill: white;
    -fx-background-radius: 30px;
}

.change_mode_api {
    -fx-background-color: #ff857d;
    -fx-text-fill: white;
    -fx-background-radius: 30px;
}

.search_cell_even {
    -fx-background-color: #eafffb;
}

.search_cell_even:hover {
    -fx-background-color: #d5d9d7;
}

.search_cell_odd {
    -fx-background-color: #fff;
}

.search_cell_odd:hover {
    -fx-background-color: #d5d9d7;
}
